all_settlement_prices_and_trades.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="volume" type="xs:decimal"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="upfront-payer" type="xs:string"/>
	<xs:element name="quorum" type="xs:string"/>
	<xs:element name="upfrontFee" type="xs:decimal"/>
	<xs:element name="tradeUpfront" type="xs:decimal"/>
	<xs:element name="tradeSpread" type="xs:decimal"/>
	<xs:element name="tradePrice" type="xs:decimal"/>
	<xs:element name="tradeId" type="xs:unsignedLong"/>
	<xs:element name="curveID" type="xs:unsignedLong"/>
	<xs:element name="entityID" type="xs:unsignedLong"/>
	<xs:element name="maturityID" type="xs:unsignedLong"/>	
	<xs:element name="trade">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tradeId" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="protection-buyer"/>
				<xs:element ref="protection-seller"/>
				<xs:element ref="tradeType" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="tradeUpfront" minOccurs="0"/>
				<xs:element ref="tradeSpread" minOccurs="0"/>
				<xs:element ref="tradePrice" minOccurs="0"/>
				<xs:element ref="upfrontFee" minOccurs="0" maxOccurs="1"/>				
				<xs:element ref="upfront-payer" minOccurs="0" maxOccurs="1"/>				
				<xs:element ref="volume"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="toList" type="xs:string"/>
	<xs:element name="toEmail" type="xs:string"/>
	<xs:element name="tier" type="xs:string"/>
	<xs:element name="subject" type="xs:string"/>
	<xs:element name="settleUpfront" type="xs:decimal"/>
	<xs:element name="settleSpread" type="xs:decimal"/>
	<xs:element name="settlePrice" type="xs:decimal"/>
	<xs:element name="settlementEventId" type="xs:string"/>
	<xs:element name="settlementEventName" type="xs:string"/>
	<xs:element name="settlementDate" type="xs:dateTime"/>
	<xs:element name="ticker" type="xs:string"/>
	<xs:element name="settle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="settlePrice" minOccurs="0"/>
				<xs:element ref="settleSpread" minOccurs="0"/>
				<xs:element ref="settleUpfront" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="red9" type="xs:string"/>
	<xs:element name="red6" type="xs:string"/>
	<xs:element name="protection-seller" type="xs:string"/>
	<xs:element name="protection-buyer" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="missing" type="xs:string"/>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="fileId" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="dateTime" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="settlementEventId" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="settlementEventName" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="settlementDate" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="fromEmail"/>
				<xs:element ref="fromName"/>
				<xs:element ref="fromFirm" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="toEmail"/>
				<xs:element ref="toList"/>
				<xs:element ref="subject"/>
				<xs:element ref="comment"/>
				<xs:element ref="credindex" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="credswap" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="maturityYear" type="xs:int"/>
	<xs:element name="maturityMonth" type="xs:int"/>
	<xs:element name="maturityDay" type="xs:int"/>
	<xs:element name="id" type="xs:unsignedLong"/>
	<xs:element name="fromName" type="xs:string"/>
	<xs:element name="fromFirm" type="xs:string"/>
	<xs:element name="fromEmail" type="xs:string"/>
	<xs:element name="fileId" type="xs:unsignedLong"/>
	<xs:element name="docClause" type="xs:string"/>
	<xs:element name="dateTime" type="xs:dateTime"/>
	<xs:element name="currency" type="xs:string"/>
	<xs:element name="runningCoupon">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:minInclusive value="0"></xs:minInclusive>
				<xs:maxInclusive value="1"></xs:maxInclusive>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="tradeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Theoretical"></xs:enumeration>
			<xs:enumeration value="Cash"></xs:enumeration>
			<xs:enumeration value="Physical"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="tradeType" type="tradeType"/>
	<xs:element name="maturities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="maturity" minOccurs="9" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="maturity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="maturityID"/>
				<xs:element ref="maturityDay" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="maturityMonth" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="maturityYear" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="quorum" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="settle"/>
				<xs:element ref="trade" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="missing" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="curve">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="curveID"/>
				<xs:element ref="tier"/>
				<xs:element ref="docClause"/>
				<xs:element ref="currency"/>
				<xs:element ref="runningCoupon"/>				
				<xs:element ref="maturities"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="credswap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entityID"/>				
				<xs:element ref="name" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="ticker" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="red6"/>
				<xs:element ref="curve" maxOccurs="unbounded"></xs:element>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="credindex">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="red9"/>
				<xs:element ref="name"/>
				<xs:element ref="maturityDay"/>
				<xs:element ref="maturityMonth"/>
				<xs:element ref="maturityYear"/>
				<xs:element ref="currency" minOccurs="0"/>
				<xs:element ref="quorum" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="settle"/>				
				<xs:element ref="trade" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="missing" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment" type="xs:string"/>
</xs:schema>
